html {
  font-size: 10px;
}

body {
  min-width: 1380px;
  color: #111;
  font-size: 16px;
}

body, button, code, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, legend, li, ol, p, pre, table, td, th, ul {
  margin: 0;
  padding: 0
}

a {
  text-decoration: none
}

:focus {
  outline: none
}

img {
  vertical-align: middle
}

ol, ul {
  list-style: none
}

address {
}

hr {
  display: none
}


.main-membership__link {
  overflow: hidden;
  float: left;
  position: relative;
  width: 180px;
  height: 52px;
  margin: 0 10px;
  padding: 0 30px;
  color: #af6e52;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .06em;
  line-height: 52px;
  text-align: left;
  border: 1px solid #af6e52;
  box-sizing: border-box;
}


.main-membership__link--detail {
  color: #111;
  border: 1px solid #111;
}

.main-membership__link:before {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #af6e52;
  transition: top .2s ease-in;
  content: "";
  z-index: -1;
}
.main-membership__link--detail .main-membership__link-text:after,
.main-membership__link--detail .main-membership__link-text:before,
.main-membership__link--detail:before {
  background: #111;
}

.main-membership__link:hover {
  color: #fff;
}

.main-membership__link:hover:before {
  top: 0;
}

.main-membership__link-text:after {
  width: 10px;
  margin-top: 1px;
  margin-right: -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-membership__link-text:after,
.main-membership__link-text:before {
  position: absolute;
  top: 50%;
  right: 20px;
  height: 1px;
  background: #bf8b75;
  transition: right .2s ease-in;
  content: "";
}

.main-membership__link--detail .main-membership__link-text:after,
.main-membership__link--detail .main-membership__link-text:before,
.main-membership__link--detail:before {
  background: #111;
}

.main-membership__link-text:before {
  width: 25px;
  margin-top: 5px;
}


.main-membership__link:hover .main-membership__link-text:after,
.main-membership__link:hover .main-membership__link-text:before {
  right: 10px;
  background: #fff;
}

.main-membership__link:hover .main-membership__link-text:after,
.main-membership__link:hover .main-membership__link-text:before {
  right: 10px;
  background: #fff;
}